<style>
    .center {
        text-align: center;
    }

    h6 {
        text-decoration-line: underline;
    }

    .font-this {
        font-family: 'Courier New', Courier, monospace;
    }

    input {
        margin-top: 15px;
        margin-bottom: 15px;
        border-radius: 25px;
        border: 2px solid #609;
        padding: 20px;
        width: 200px;
        height: 15px;
    }

    button {
        height: 35px;
        width: 100px;
        margin-top: 10px;
        border-radius: 10px;
    }

    label {
        text-align: left;
        margin-right: 5px;
        margin-left: 5px;
    }

    label b,
    hr,
    .red {
        color: red;
    }

    .scrollable {
        height: 400px;
        overflow-y: scroll;
        outline-width: thin;
        outline-style: dotted;
        outline-color: black;
    }

    .danger {
        background: purple;
    }
</style>



<div class="container header">
    <h1 class="center">Sún Mọ</h1>
    <p class=" font-this container center">
        <i>A real-time birthday tracker and countdown application for extended-family
            members</i>
    </p>
</div>

<div class="container row col-sm-3 scrollable">
    <h3 class="font-this center"><u>Family Name:{{family}}</u></h3>
    <ul class="col-sm-12">
        {{#each person}}
        <p class="id">ID: {{this.id}}</p>
        <p class="name"><b>Name:</b>{{this.name}}</p>
        <p class="dob"><b>DOB: </b>{{this.dob}}</p>
        <hr>
        {{/each}}
    </ul>
</div>
<div class="form-group">
    <form class="center danger" action="/insert" method="POST">
        <p class="center"> <b>Input Your Info Below</b></p>
        <div class="form-group">
            <b><label for="name">Name: </label></b>
            <input type="text" name="name">

            <b><label for="dob">DOB (YYYY/MM/DD): </label></b>
            <input id="datepicker" type="text" name="dob" maxlength="10">
        </div>
        <button type="submit">Submit</button>
    </form>
</div>

<script>
    var button = $("button");
    button.click(() => {
        if ($("input").val() == "") {
            alert("You didn't insert SHIT!")
        }); 
</script>