<style>
    .center {
        text-align: center;
    }

    h6 {
        text-decoration-line: underline;
    }

    .font-this {
        font-family: 'Courier New', Courier, monospace;
    }

    input {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    label {
        margin-right: 5px;
    }
</style>



<div class="container">
    <h1 class="center">Sún Mọ</h1>
    <h6 class="container center underline">A real-time birthday tracker and countdown application for extended-family
        members</h6>
    <h3 class="font-this center">Family Name:{{family}}</h3>
    <ul class="container center">
        {{#each person}}
        <p class="id"><strong>ID: </strong> {{this.id}}</p>
        <p class="name"><strong>Name: </strong> {{this.name}}</p>
        <p class="dob"><strong>DOB:</strong> {{this.dob}}</p>
        <hr>
        {{/each}}
    </ul>

    <h2 class="center">Input Your Info Below</h2>

    <form class="center" action="/insert" method="POST">
        <label for="name">Name:</label><input type="text" name="name">
        <label for="dob">DOB: (YYYY/MM/DD)</label><input id="datepicker" type="text" name="dob" maxlength="10">
        <button type="submit">Submit</button>
    </form>
</div>